In [145]:
import csv
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from statsmodels.formula.api import ols
from statsmodels.formula.api import logit

import os
cwd = os.getcwd()
print cwd

/Users/jonathanjramirez/GitHub/Python Sandbox

In [146]:
file_location = "/Users/jonathanjramirez/Downloads/train.csv"
titanic = pd.read_csv('/Users/jonathanjramirez/Downloads/train.csv', sep=',', na_values="99")

In [147]:
passenger_id = pd.read_csv('/Users/jonathanjramirez/Downloads/train.csv', sep=',', na_values=".",usecols=[0])
survived = pd.read_csv('/Users/jonathanjramirez/Downloads/train.csv', sep=',', na_values=".",usecols=[1])
pclass = pd.read_csv('/Users/jonathanjramirez/Downloads/train.csv', sep=',', na_values=".",usecols=[2])
name = pd.read_csv('/Users/jonathanjramirez/Downloads/train.csv', sep=',', na_values=".",usecols=[3])
sex = pd.read_csv('/Users/jonathanjramirez/Downloads/train.csv', sep=',', na_values=".",usecols=[4])
age = pd.read_csv('/Users/jonathanjramirez/Downloads/train.csv', sep=',', na_values=".",usecols=[5])
sibSp = pd.read_csv('/Users/jonathanjramirez/Downloads/train.csv', sep=',', na_values=".",usecols=[6])
parch = pd.read_csv('/Users/jonathanjramirez/Downloads/train.csv', sep=',', na_values=".",usecols=[7])
ticket = pd.read_csv('/Users/jonathanjramirez/Downloads/train.csv', sep=',', na_values=".",usecols=[8])
fare = pd.read_csv('/Users/jonathanjramirez/Downloads/train.csv', sep=',', na_values=".",usecols=[9])
cabin = pd.read_csv('/Users/jonathanjramirez/Downloads/train.csv', sep=',', na_values=".",usecols=[10])
embark = pd.read_csv('/Users/jonathanjramirez/Downloads/train.csv', sep=',', na_values=".",usecols=[11])

In [155]:
# Create a set of dummy variables from the class variable
titanic_class = pd.get_dummies(titanic['Pclass'])

# Join the dummy variables to the main dataframe
titanic2 = pd.concat([titanic, titanic_class], axis=1)
titanic2

,PassengerId,Survived,Pclass,Name,Female,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,1,2,3
0,1.0,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,0.0,0.0,1.0
1,2.0,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,1.0,0.0,0.0
2,3.0,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.0,0.0,1.0
3,4.0,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,1.0,0.0,0.0
4,5.0,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,0.0,0.0,1.0
5,6.0,0,3,"Moran, Mr. James",0,NaN,0,0,330877,8.4583,NaN,Q,0.0,0.0,1.0
6,7.0,0,1,"McCarthy, Mr. Timothy J",0,54.0,0,0,17463,51.8625,E46,S,1.0,0.0,0.0
7,8.0,0,3,"Palsson, Master. Gosta Leonard",0,2.0,3,1,349909,21.0750,NaN,S,0.0,0.0,1.0
8,9.0,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,27.0,0,2,347742,11.1333,NaN,S,0.0,0.0,1.0
9,10.0,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1,14.0,1,0,237736,30.0708,NaN,C,0.0,1.0,0.0
10,11.0,1,3,"Sandstrom, Miss. Marguerite Rut",1,4.0,1,1,PP 9549,16.7000,G6,S,0.0,0.0,1.0
11,12.0,1,1,"Bonnell, Miss. Elizabeth",1,58.0,0,0,113783,26.5500,C103,S,1.0,0.0,0.0
12,13.0,0,3,"Saundercock, Mr. William Henry",0,20.0,0,0,A/5. 2151,8.0500,NaN,S,0.0,0.0,1.0
13,14.0,0,3,"Andersson, Mr. Anders Johan",0,39.0,1,5,347082,31.2750,NaN,S,0.0,0.0,1.0
14,15.0,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",1,14.0,0,0,350406,7.8542,NaN,S,0.0,0.0,1.0
15,16.0,1,2,"Hewlett, Mrs. (Mary D Kingcome)",1,55.0,0,0,248706,16.0000,NaN,S,0.0,1.0,0.0
16,17.0,0,3,"Rice, Master. Eugene",0,2.0,4,1,382652,29.1250,NaN,Q,0.0,0.0,1.0
17,18.0,1,2,"Williams, Mr. Charles Eugene",0,NaN,0,0,244373,13.0000,NaN,S,0.0,1.0,0.0
18,19.0,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",1,31.0,1,0,345763,18.0000,NaN,S,0.0,0.0,1.0
19,20.0,1,3,"Masselmani, Mrs. Fatima",1,NaN,0,0,2649,7.2250,NaN,C,0.0,0.0,1.0
20,21.0,0,2,"Fynney, Mr. Joseph J",0,35.0,0,0,239865,26.0000,NaN,S,0.0,1.0,0.0
21,22.0,1,2,"Beesley, Mr. Lawrence",0,34.0,0,0,248698,13.0000,D56,S,0.0,1.0,0.0
22,23.0,1,3,"McGowan, Miss. Anna ""Annie""",1,15.0,0,0,330923,8.0292,NaN,Q,0.0,0.0,1.0
23,24.0,1,1,"Sloper, Mr. William Thompson",0,28.0,0,0,113788,35.5000,A6,S,1.0,0.0,0.0
24,25.0,0,3,"Palsson, Miss. Torborg Danira",1,8.0,3,1,349909,21.0750,NaN,S,0.0,0.0,1.0
25,26.0,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",1,38.0,1,5,347077,31.3875,NaN,S,0.0,0.0,1.0
26,27.0,0,3,"Emir, Mr. Farred Chehab",0,NaN,0,0,2631,7.2250,NaN,C,0.0,0.0,1.0
27,28.0,0,1,"Fortune, Mr. Charles Alexander",0,19.0,3,2,19950,263.0000,C23 C25 C27,S,1.0,0.0,0.0
28,29.0,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",1,NaN,0,0,330959,7.8792,NaN,Q,0.0,0.0,1.0
29,30.0,0,3,"Todoroff, Mr. Lalio",0,NaN,0,0,349216,7.8958,NaN,S,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862.0,0,2,"Giles, Mr. Frederick Edward",0,21.0,1,0,28134,11.5000,NaN,S,0.0,1.0,0.0
862,863.0,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",1,48.0,0,0,17466,25.9292,D17,S,1.0,0.0,0.0
863,864.0,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",1,NaN,8,2,CA. 2343,69.5500,NaN,S,0.0,0.0,1.0
864,865.0,0,2,"Gill, Mr. John William",0,24.0,0,0,233866,13.0000,NaN,S,0.0,1.0,0.0
865,866.0,1,2,"Bystrom, Mrs. (Karolina)",1,42.0,0,0,236852,13.0000,NaN,S,0.0,1.0,0.0
866,867.0,1,2,"Duran y More, Miss. Asuncion",1,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,0.0,1.0,0.0
867,868.0,0,1,"Roebling, Mr. Washington Augustus II",0,31.0,0,0,PC 17590,50.4958,A24,S,1.0,0.0,0.0
868,869.0,0,3,"van Melkebeke, Mr. Philemon",0,NaN,0,0,345777,9.5000,NaN,S,0.0,0.0,1.0
869,870.0,1,3,"Johnson, Master. Harold Theodor",0,4.0,1,1,347742,11.1333,NaN,S,0.0,0.0,1.0
870,871.0,0,3,"Balkic, Mr. Cerin",0,26.0,0,0,349248,7.8958,NaN,S,0.0,0.0,1.0
871,872.0,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,47.0,1,1,11751,52.5542,D35,S,1.0,0.0,0.0
872,873.0,0,1,"Carlsson, Mr. Frans Olof",0,33.0,0,0,695,5.0000,B51 B53 B55,S,1.0,0.0,0.0
873,874.0,0,3,"Vander Cruyssen, Mr. Victor",0,47.0,0,0,345765,9.0000,NaN,S,0.0,0.0,1.0
874,875.0,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",1,28.0,1,0,P/PP 3381,24.0000,NaN,C,0.0,1.0,0.0
875,876.0,1,3,"Najib, Miss. Adele Kiamie ""Jane""",1,15.0,0,0,2667,7.2250,NaN,C,0.0,0.0,1.0
876,877.0,0,3,"Gustafsson, Mr. Alfred Ossian",0,20.0,0,0,7534,9.8458,NaN,S,0.0,0.0,1.0
877,878.0,0,3,"Petroff, Mr. Nedelio",0,19.0,0,0,349212,7.8958,NaN,S,0.0,0.0,1.0
878,879.0,0,3,"Laleff, Mr. Kristo",0,NaN,0,0,349217,7.8958,NaN,S,0.0,0.0,1.0
879,880.0,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,56.0,0,1,11767,83.1583,C50,C,1.0,0.0,0.0
880,881.0,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",1,25.0,0,1,230433,26.0000,NaN,S,0.0,1.0,0.0
881,882.0,0,3,"Markun, Mr. Johann",0,33.0,0,0,349257,7.8958,NaN,S,0.0,0.0,1.0
882,883.0,0,3,"Dahlberg, Miss. Gerda Ulrika",1,22.0,0,0,7552,10.5167,NaN,S,0.0,0.0,1.0
883,884.0,0,2,"Banfield, Mr. Frederick James",0,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,0.0,1.0,0.0
884,885.0,0,3,"Sutehall, Mr. Henry Jr",0,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,0.0,0.0,1.0
885,886.0,0,3,"Rice, Mrs. William (Margaret Norton)",1,39.0,0,5,382652,29.1250,NaN,Q,0.0,0.0,1.0
886,887.0,0,2,"Montvila, Rev. Juozas",0,27.0,0,0,211536,13.0000,NaN,S,0.0,1.0,0.0
887,888.0,1,1,"Graham, Miss. Margaret Edith",1,19.0,0,0,112053,30.0000,B42,S,1.0,0.0,0.0
888,889.0,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,NaN,1,2,W./C. 6607,23.4500,NaN,S,0.0,0.0,1.0
889,890.0,1,1,"Behr, Mr. Karl Howell",0,26.0,0,0,111369,30.0000,C148,C,1.0,0.0,0.0
890,891.0,0,3,"Dooley, Mr. Patrick",0,32.0,0,0,370376,7.7500,NaN,Q,0.0,0.0,1.0

In [149]:
model = ols("survived ~ age + pclass", titanic).fit()

In [150]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.180
Model:                            OLS   Adj. R-squared:                  0.178
Method:                 Least Squares   F-statistic:                     78.26
Date:                Wed, 21 Sep 2016   Prob (F-statistic):           1.91e-31
Time:                        20:16:35   Log-Likelihood:                -434.38
No. Observations:                 714   AIC:                             874.8
Df Residuals:                     711   BIC:                             888.5
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      1.2399      0.072     17.162      0.000         1.098     1.382
age           -0.0082      0.001     -6.656      0.000        -0.011    -0.006
pclass        -0.2635      0.021    -12.302      0.000        -0.306    -0.221
==============================================================================
Omnibus:                      310.060   Durbin-Watson:                   1.929
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               50.450
Skew:                           0.327   Prob(JB):                     1.11e-11
Kurtosis:                       1.874   Cond. No.                         148.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [151]:
titanic

,PassengerId,Survived,Pclass,Name,Female,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2.0,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3.0,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4.0,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5.0,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S
5,6.0,0,3,"Moran, Mr. James",0,NaN,0,0,330877,8.4583,NaN,Q
6,7.0,0,1,"McCarthy, Mr. Timothy J",0,54.0,0,0,17463,51.8625,E46,S
7,8.0,0,3,"Palsson, Master. Gosta Leonard",0,2.0,3,1,349909,21.0750,NaN,S
8,9.0,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,27.0,0,2,347742,11.1333,NaN,S
9,10.0,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1,14.0,1,0,237736,30.0708,NaN,C
10,11.0,1,3,"Sandstrom, Miss. Marguerite Rut",1,4.0,1,1,PP 9549,16.7000,G6,S
11,12.0,1,1,"Bonnell, Miss. Elizabeth",1,58.0,0,0,113783,26.5500,C103,S
12,13.0,0,3,"Saundercock, Mr. William Henry",0,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14.0,0,3,"Andersson, Mr. Anders Johan",0,39.0,1,5,347082,31.2750,NaN,S
14,15.0,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",1,14.0,0,0,350406,7.8542,NaN,S
15,16.0,1,2,"Hewlett, Mrs. (Mary D Kingcome)",1,55.0,0,0,248706,16.0000,NaN,S
16,17.0,0,3,"Rice, Master. Eugene",0,2.0,4,1,382652,29.1250,NaN,Q
17,18.0,1,2,"Williams, Mr. Charles Eugene",0,NaN,0,0,244373,13.0000,NaN,S
18,19.0,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",1,31.0,1,0,345763,18.0000,NaN,S
19,20.0,1,3,"Masselmani, Mrs. Fatima",1,NaN,0,0,2649,7.2250,NaN,C
20,21.0,0,2,"Fynney, Mr. Joseph J",0,35.0,0,0,239865,26.0000,NaN,S
21,22.0,1,2,"Beesley, Mr. Lawrence",0,34.0,0,0,248698,13.0000,D56,S
22,23.0,1,3,"McGowan, Miss. Anna ""Annie""",1,15.0,0,0,330923,8.0292,NaN,Q
23,24.0,1,1,"Sloper, Mr. William Thompson",0,28.0,0,0,113788,35.5000,A6,S
24,25.0,0,3,"Palsson, Miss. Torborg Danira",1,8.0,3,1,349909,21.0750,NaN,S
25,26.0,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",1,38.0,1,5,347077,31.3875,NaN,S
26,27.0,0,3,"Emir, Mr. Farred Chehab",0,NaN,0,0,2631,7.2250,NaN,C
27,28.0,0,1,"Fortune, Mr. Charles Alexander",0,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29.0,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",1,NaN,0,0,330959,7.8792,NaN,Q
29,30.0,0,3,"Todoroff, Mr. Lalio",0,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862.0,0,2,"Giles, Mr. Frederick Edward",0,21.0,1,0,28134,11.5000,NaN,S
862,863.0,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",1,48.0,0,0,17466,25.9292,D17,S
863,864.0,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",1,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865.0,0,2,"Gill, Mr. John William",0,24.0,0,0,233866,13.0000,NaN,S
865,866.0,1,2,"Bystrom, Mrs. (Karolina)",1,42.0,0,0,236852,13.0000,NaN,S
866,867.0,1,2,"Duran y More, Miss. Asuncion",1,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868.0,0,1,"Roebling, Mr. Washington Augustus II",0,31.0,0,0,PC 17590,50.4958,A24,S
868,869.0,0,3,"van Melkebeke, Mr. Philemon",0,NaN,0,0,345777,9.5000,NaN,S
869,870.0,1,3,"Johnson, Master. Harold Theodor",0,4.0,1,1,347742,11.1333,NaN,S
870,871.0,0,3,"Balkic, Mr. Cerin",0,26.0,0,0,349248,7.8958,NaN,S
871,872.0,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,47.0,1,1,11751,52.5542,D35,S
872,873.0,0,1,"Carlsson, Mr. Frans Olof",0,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874.0,0,3,"Vander Cruyssen, Mr. Victor",0,47.0,0,0,345765,9.0000,NaN,S
874,875.0,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",1,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876.0,1,3,"Najib, Miss. Adele Kiamie ""Jane""",1,15.0,0,0,2667,7.2250,NaN,C
876,877.0,0,3,"Gustafsson, Mr. Alfred Ossian",0,20.0,0,0,7534,9.8458,NaN,S
877,878.0,0,3,"Petroff, Mr. Nedelio",0,19.0,0,0,349212,7.8958,NaN,S
878,879.0,0,3,"Laleff, Mr. Kristo",0,NaN,0,0,349217,7.8958,NaN,S
879,880.0,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,56.0,0,1,11767,83.1583,C50,C
880,881.0,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",1,25.0,0,1,230433,26.0000,NaN,S
881,882.0,0,3,"Markun, Mr. Johann",0,33.0,0,0,349257,7.8958,NaN,S
882,883.0,0,3,"Dahlberg, Miss. Gerda Ulrika",1,22.0,0,0,7552,10.5167,NaN,S
883,884.0,0,2,"Banfield, Mr. Frederick James",0,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885.0,0,3,"Sutehall, Mr. Henry Jr",0,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886.0,0,3,"Rice, Mrs. William (Margaret Norton)",1,39.0,0,5,382652,29.1250,NaN,Q
886,887.0,0,2,"Montvila, Rev. Juozas",0,27.0,0,0,211536,13.0000,NaN,S
887,888.0,1,1,"Graham, Miss. Margaret Edith",1,19.0,0,0,112053,30.0000,B42,S
888,889.0,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890.0,1,1,"Behr, Mr. Karl Howell",0,26.0,0,0,111369,30.0000,C148,C
890,891.0,0,3,"Dooley, Mr. Patrick",0,32.0,0,0,370376,7.7500,NaN,Q

In [152]:
lreg1 = logit("survived ~ Age + Pclass + Female + SibSp", titanic).fit()
print (lreg1.summary())

Optimization terminated successfully.
         Current function value: 0.445882
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                  714
Model:                          Logit   Df Residuals:                      709
Method:                           MLE   Df Model:                            4
Date:                Wed, 21 Sep 2016   Pseudo R-squ.:                  0.3399
Time:                        20:17:03   Log-Likelihood:                -318.36
converged:                       True   LL-Null:                       -482.26
                                        LLR p-value:                 1.089e-69
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      2.9774      0.486      6.130      0.000         2.025     3.929
Age           -0.0444      0.008     -5.442      0.000        -0.060    -0.028
Pclass        -1.3174      0.141     -9.350      0.000        -1.594    -1.041
Female         2.6235      0.215     12.229      0.000         2.203     3.044
SibSp         -0.3761      0.121     -3.106      0.002        -0.613    -0.139
==============================================================================

In [153]:
print("Odds Ratios")
print(np.exp(lreg1.params))

Odds Ratios
Intercept    19.635963
Age           0.956586
Pclass        0.267831
Female       13.783654
SibSp         0.686521
dtype: float64

In [154]:
params = lreg1.params
conf=lreg1.conf_int()
conf['OR'] = params
conf.columns = ['Lower CI', 'Upper CI', 'Odds Ratios']
print(np.exp(conf))

           Lower CI   Upper CI  Odds Ratios
Intercept  7.579115  50.872829    19.635963
Age        0.941417   0.971999     0.956586
Pclass     0.203201   0.353017     0.267831
Female     9.052343  20.987841    13.783654
SibSp      0.541489   0.870397     0.686521

In [157]:
titanic2['Age'].mean()

29.69911764705882

In [165]:
AgeLikely = .95**5
AgeLikely = int(AgeLikely*100)
AgeLikely

77

In [179]:
print "35 year olds were " + str(AgeLikely) + " percent as likely to die than 30 year olds."

35 year olds were 77 percent as likely to die than 30 year olds.

In [178]:
titanic2['SibSp'].mean()

0.5230078563411896